/* 🦊 Ajoutez tous les styles manquants pour recréer la maquette! */
h1 {
  font-size: 60px;
}
body {
  font-family: "Silkscreen", monospace;
}
div {
}
img {
  display: block;
}
a {
  color: black;
  font-size: 30px;
}
