/* 🦊 Ajoutez tous les styles manquants pour recréer la maquette! */
body {
  font-family: "Silkscreen", monospace;
}
h1 {
  font-size: 60px;
  margin: 7px 0px 0px 20px;
}
div {
  border-top: 3px solid black;
  border-left: 3px solid black;
  max-width: 460px;
  height: 162px;
}
img {
  display: block;
}
p {
  margin: 0px 30px 17px 28px;
}

a {
  color: black;
  font-size: 30px;
}
